body {
  font-size:.9em;
  font-family:sans-serif;
}
@keyframes spin {
    0% {transform: translateZ(-10em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);     }
    16% {transform: translateZ(-10em) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    33% {transform: translateZ(-10em) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    50% {transform: translateZ(-10em) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    66% {transform: translateZ(-10em) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    83% {transform: translateZ(-10em) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
    100% {transform: translateZ(-10em) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}
@keyframes spinDuplicate {
    0% {transform: translateZ(-10em) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16% {transform: translateZ(-10em) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    33% {transform: translateZ(-10em) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    50% {transform: translateZ(-10em) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    66% {transform: translateZ(-10em) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    83% {transform: translateZ(-10em) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
    100% {transform: translateZ(-10em) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}
@keyframes roll {
    0% {transform: translate3d(-20em,-5em,-40em) }
    12% {transform: translate3d(0px,0,-10em) }
    25% {transform: translate3d(20em,-5em,-40em) }
    37% {transform: translate3d(0px,-10em,-80em) }
    50% {transform: translate3d(-20em,-5em,-40em) }
    62% {transform: translate3d(0px,0,-10em) }
    75% {transform: translate3d(20em,-5em,-40em) }
    87% {transform: translate3d(0px,-10em,-80em) }
    100% {transform: translate3d(-20em,-5em,-40em) }
}

@keyframes unRoll {
    0% {transform: translate3d(0em,0em,0) }
    100% {transform: translate3d(0em,0em,0) }
}    

@keyframes roll_1 {
    0% {transform: translateZ(0) rotateX(0deg) rotateY(20deg) rotateZ(20deg); }
    100% {transform: translateZ(0) rotateX(0deg) rotateY(20deg) rotateZ(20deg); }
}
@keyframes roll_2 {
    0% {transform: translateZ(0) rotateX(180deg) rotateY(100deg) rotateZ(100deg); }
    100% {transform: translateZ(0) rotateX(180deg) rotateY(100deg) rotateZ(100deg); }
}
@keyframes roll_3 {
    0% {transform: translateZ(0) rotateX(90deg) rotateY(100deg) rotateZ(100deg); }
    100% {transform: translateZ(0) rotateX(90deg) rotateY(100deg) rotateZ(100deg); }
}
@keyframes roll_4 {
    0% {transform: translateZ(0) rotateX(-80deg) rotateY(0deg) rotateZ(100deg); }
    100% {transform: translateZ(0) rotateX(-80deg) rotateY(0deg) rotateZ(100deg); }
}
@keyframes roll_5 {
    0% {transform: translateZ(0) rotateX(105deg) rotateY(0deg) rotateZ(10deg); }
    100% {transform: translateZ(0) rotateX(105deg) rotateY(0deg) rotateZ(10deg); }
}
@keyframes roll_6 {
    0% {transform: translateZ(0) rotateX(190deg) rotateY(-5deg) rotateZ(-90deg); }
    100% { transform: translateZ(0) rotateX(190deg) rotateY(-5deg) rotateZ(-90deg); }
}

.rolling #platform .dice {   
    animation: spinDuplicate 2s infinite linear;
}
.rolling #platform {
    width:20em;
    height:20em;
    transform-style: preserve-3d;    
    animation: roll 1.6s infinite linear;
}
/*.stop #platform > .dice,*/
.stop #platform {
    /*animation-play-state: paused;*/    
    animation: unRoll 500s infinite linear;
}

.stop #platform .dice[data-value="1"],
#platformUp .dice[data-value="1"] {   
    animation: roll_1 3s infinite linear;
}
.stop #platform .dice[data-value="2"],
#platformUp .dice[data-value="2"] {   
    animation: roll_2 3s infinite linear;
}
.stop #platform .dice[data-value="3"],
#platformUp .dice[data-value="3"] {    
    animation: roll_3 3s infinite linear;
}
.stop #platform .dice[data-value="4"],
#platformUp .dice[data-value="4"] {    
    animation: roll_4 3s infinite linear;
}
.stop #platform .dice[data-value="5"],
#platformUp .dice[data-value="5"] {    
    animation: roll_5 3s infinite linear;
}
.stop #platform .dice[data-value="6"],
#platformUp .dice[data-value="6"] {    
    animation: roll_6 3s infinite linear;
}

#wrapper {
    position: relative;
    width: 200em;
    padding-top: 10em;
    margin: 0 auto;
    perspective: 800em;
}
#platform {
  margin-top:10em;
}

.dice {
    position: absolute;
    width: 20em;
    height: 20em;  
    transform-style: preserve-3d;        
}
#platform .dice {
    animation: spin 50s infinite linear;
}

#dice_1 {margin-left: 0;}
#dice_2 {margin-left: 28em;}
#dice_3 {margin-left: 56em;}
#dice_4 {margin-left: 84em;}
#dice_5 {margin-left: 112em;}
#dice_6 {margin-left: 140em;}

.side {
    position: absolute;
    width: 20em;
    height: 20em;
    background: #000;
    box-shadow:inset 0 0 4em #666;
    border-radius: 4em;
}
.dice .cover, .dice .inner {
    background: #010101;
    box-shadow: none;
}
.dice .cover {
    border-radius: 0;
}
.dice .cover.x {       
    transform: rotateY(90deg);
}
.dice .cover.z {       
    transform: rotateX(90deg);
}
.dice .front  {
    transform: translateZ(10em);
}
.dice .front.inner  {
    transform: translateZ(9.9em);
}
.dice .back {
    transform: rotateX(-180deg) translateZ(10em);
}
.dice .back.inner {
    transform: rotateX(-180deg) translateZ(9.9em);
}
.dice .right {
    transform: rotateY(90deg) translateZ(10em);
}
.dice .right.inner {
    transform: rotateY(90deg) translateZ(9.9em);
}
.dice .left {
    transform: rotateY(-90deg) translateZ(10em);
}
.dice .left.inner {
    transform: rotateY(-90deg) translateZ(9.9em);
}
.dice .top {
    transform: rotateX(90deg) translateZ(10em);
}
.dice .top.inner {
    transform: rotateX(90deg) translateZ(9.9em);
}
.dice .bottom {
    transform: rotateX(-90deg) translateZ(10em);
}
.dice .bottom.inner {
    transform: rotateX(-90deg) translateZ(9.9em);
}
.dot {
    position:absolute;
    width:4.6em;
    height:4.6em;
    border-radius:2.3em;
    background:#27fb04;
    box-shadow:inset 0.5em 0 1em #ccc;
}
.dot.center {
    margin:7.7em 0 0 7.7em;
}
.dot.dtop {
    margin-top:2em;
}
.dot.dleft {
    margin-left:13.4em;
}
.dot.dright {
    margin-left:2em;
}
.dot.dbottom {
    margin-top:13.4em;
}
.dot.center.dleft {
    margin:7.7em 0 0 2em;
}
.dot.center.dright {
    margin:7.7em 0 0 13.4em;
}




